

.menu-item {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
    background: #4D5AE5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

img {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
    line-height: 1.5;
}

.page-body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
}

.accent-color {
    color: #4D5AE5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    gap: 40px;
}


/*======MOBILE HEADER STYLES=====*/

@media screen and (max-width: 767px) {
.menu {
    display: none;
}
.social-list {
    display: none;
}
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

 @media screen and (min-width: 768px) {
     .container {
        max-width: 768px;
}
}


    @media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-right: 15px;
        padding-left: 15px;
}
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-navigatoin {
    display: flex;
    column-gap: 120px;
    margin-right: auto;
    align-items: center;
}
    
    @media screen and (min-width: 1158px) {
    .page-navigatoin {
         gap: 76px;
    }
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }


span {
    color: #2e2f42;
}

.menu-list {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}



@media screen and (min-width: 768px) {
    .menu-list {
        display: flex;
        gap: 40px;
    }
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-nav:hover,
.menu-nav:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

@media screen and (max-width: 767px) {
    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        stroke: #2F2F37;
        line-height: 0;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu-open-btn {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-menu-open-btn {
        display: none;
    }
}



@media screen and (min-width: 320px) {
    .menu-address-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
.menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
}

@media screen and (min-width: 1158px) {
.menu-address-list {
       flex-direction: row;
        gap: 40px;
    }
}

.menu-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    font-style: normal;

    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .menu-link {
    font-size: 12px;
    line-height: 1.17;
    }
}


.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

/*========= HERO  SECT 2  ================*/



.hero {
    display: flex;
    background-size: cover;
    margin: 0 auto;
    background-color: #2E2F42;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    padding: 112px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_mob1.jpg);
}


@media screen and (min-width: 768px)  {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg-tabl1.jpg);
    }
}

    
@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1158px;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero/bg.jpg);
        padding: 188px 0;
    }
}
  

.sect-title {
    max-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #2E2F42;
    flex-shrink: 0;
}

@media screen and (min-width: 768px) {
    .sect-title {
            max-width: 768px;
            padding-top: 112px;
            padding-bottom: 112px;
    }
}

@media screen and (min-width: 1158px) {
.sect-title {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
}
}



.solutions-title {
    color: #FFF;
    text-align: center;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .solutions-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto 36px;
    }
}

@media screen and (min-width: 1158px) {
    .solutions-title {
           margin:0 auto 48px;
    }
}


.cursor-pointer {
    cursor: pointer;
    border-radius: 4px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;

    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.cursor-pointer:hover,
.cursor-pointer:focus {
    background-color: #404BBF;
}




.section-benefits {
    padding: 96px 0 96px;
}

@media screen and (min-width: 768px) {
.section-benefits {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
     padding-bottom: 96px;
    }
}


@media screen and (min-width: 1158px) {
    .section-benefits {
            padding: 120px 0 120px;
            display: flex;
}
}

.section-title {
    color: #2E2F42;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.benefits-list {
    display: flex;
    flex-direction: column;
    width: 288px;
    gap: 72px;
    text-align: left;
}
 
@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 736px;
        height: auto;
        display: flex;
        gap: 72px 24px;
        justify-content: space-between;
    }
}

@media screen  and (min-width: 1158px) {
    .benefits-list {
        flex-wrap: nowrap;
        width: 1158px;        
        gap: 24px;
     }
}

@media screen and (min-width: 320px) {
.benefits-list-item {
    display: block;
}
}

@media screen and (min-width: 768px) {
    .benefits-list-item {
         width: calc((100% - 24px) / 2);
    }
} 

@media screen and (min-width: 1158px) {
    .benefits-list-item {
    width: calc((100% - 72px) / 4);
    }
}
@media screen and (min-width: 320px) {
    .container-icon-benefits {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container-icon-benefits {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .container-icon-benefits {
         display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
        align-content: space-between;
        column-gap: 24px;
    
    }

    .ic-sect-ben {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}
}


@media screen and (min-width: 320px) {
.benefits-list-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
}

@media screen and (min-width: 768px) {
    .benefits-list-title {
        text-align: left;
    }
}


@media screen and (min-width: 1158px) {
    .benefits-list-title {
     font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
}
}


.benefits-list-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;
 
}

@media screen and (min-width: 1158px) {
    .benefits-list-text {
        font-weight: 400;
   }
}




  .our-team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
    flex-shrink: 0;
}   


@media screen and  (min-width: 1158px) {
    .our-team {
        padding: 120px 0px 120px;
}    
}

@media screen and (min-width: 768px) {
.container-team {
    max-width: 584px;
}
}

@media screen and (min-width: 1158px) {
    .container-team {
        max-width: 1158px;
    }
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.container-team-title-text {
    max-width:264px;
    background-color: #FFF;
    margin-bottom: 72px;
    padding: 32px 0;
    border: 1px solid #e7e9fc;

    display: block;
       }

@media  screen and (min-width: 768px) {
    .container-team-title-text {
        margin: 0 ;
    }

.team-list {
   gap: 72px;
}
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
        row-gap: 48px;
        }
    }
    

@media screen and (min-width: 1158px) {
.team-list {
        gap: 24px;
        display: flex;
        
}
}

.team-list-item {
    box-shadow: 0px 1px 6px 
    rgba(46, 47, 66, 0.08),
    0px 1px 1px 
    rgba(46, 47, 66, 0.16),
    0px 2px 1px 
    rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
    margin: 0 auto;
    background-color: #fff;
 }

 @media screen and (min-width: 768px) {
     .team-list-item {
         width: 584px;
         margin: 0 auto 64px;
        flex-basis: calc((100% - 24px) / 2);
     }
 }
@media screen and (min-width: 1158px) {
    .team-list-item   {
       flex-basis:  calc((100% - 72px) / 4);
}
}
    

.img-team {
    border-radius: 0px 0px 4px 4px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
      }

      @media screen and (min-width: 768px) {
        .img-team {
            margin: 0;
      }
    }

.team-list-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;  
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;

    text-align:center;
    font-style: normal;
    margin-bottom: 8px;
   }
       
.team-list-text {
   font-family: Roboto, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;

   text-align: center;
   font-style: normal;
   margin-bottom: 8px;
   }

 .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    }

.social-list-item {
    width: 40px;
    height: 40px;    
    }

 .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-list-link:hover,
 .social-list-link:focus {
    background-color: #404bbf;
 }
 
 .social-list-icon {
    fill: #f4f4fd;
 }

.our-portfolio {
    background-color: #FFF;
    padding: 96px 0 96px;
    
    }

@media screen and (min-width: 768px) {
   .our-portfolio {
    display: flex;
    flex-direction: column;
}
}


@media screen  and (min-width: 1158px) {
    .our-portfolio {
          padding: 120px 0 120px;
        }
}

.portfolio-container {
    width: 320px;
   }
   
@media screen and (min-width: 768px) {
.portfolio-container {
        width: 736px;
      
}
}

@media screen and (min-width: 1158px) {
    .portfolio-container {
         width: 1158px;
         
}
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
   
}

.box {
    position:relative;
    overflow: hidden;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 48px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        justify-content: space-between;
       
    }
}

.portfolio-list-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px
    rgba(46, 47, 66, 0.08), 
    0px 1px 1px
    rgba(46, 47, 66, 0.16), 
    0px 2px 1px 
    rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
   }

.overlay {
    position: absolute;
    top: 0; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%;   
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    font-family: Roboto, sans-serif;   
    font-style: normal;
    font-weight: 400;    
}

.container-portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    flex-shrink: 0;
}

.portfolio-list:nth-child(n+3) {
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-list {
    gap: 48px;
    flex-direction: column;
   }

@media screen and (min-width: 768px) {
.portfolio-list {
        display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 72px;
}

.portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
}    
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        width: 1158px;
        justify-content: space-between;
        row-gap: 48px;
    }
    
    .portfolio-list-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}


  
.img-portfolio {
    display: block; 
    max-width: 100%;
    height: auto;
   }

.portfolio-list-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    text-align: left;
    font-style: normal;
     margin-bottom: 8px;
    }

.portfolio-list-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    text-align: left;    
    font-style: normal;
}

.footer-section {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
  }

 @media screen and (min-width: 768px) {
    .container-footer {
        max-width: 584px;
        flex-wrap: wrap;
        text-align: left;
        gap: 72px 24px;
        }
    }


@media screen and (min-width: 1158px) {
    .container-footer {
            max-width: 1158px;
            flex-wrap: nowrap;
     }
  }

  @media screen and (min-width: 768px) {
   .feedback-form {
    display:flex;
    gap:24px;    
   }
  }
    
  /*--------------FOOTER----------*/
  .logo-footer {
      display: inline-block;
      align-items: center;
      margin-bottom: 18px;
      text-decoration: none;
  }

  .span-studio {
    color: #f4f4fd;
  }

.incr-costumers {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,5;
    width: 264px;
    text-align: left;
}

.container-footer-social {
    box-sizing: border-box;
    margin: 0 auto;
    width: 208px;
    height: 80px;
  }

.soc-media-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
   }

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.footer-soc-list-link {
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-soc-list-link:hover,
.footer-soc-list-link:focus {
    background-color: #31d0aa;
    }

.footer-soc-list-icons {
    fill: #f4f4fd;
}


.container-form {
    width: 100%;
    height: 80px;
    flex-shrink: 0;     
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1158px) {
        width: auto;
    }
}



.feedback-form {
    text-align:  center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    @media screen and (min-width: 1158px) {
        width: auto;
}
}

 .subscr {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.email-form-input {   
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 288px;
    height: 40px;
  }

.email-form-input::placeholder {
    color: #ffffff;
}

.form-btn {
    border-radius: 4px;
    background: #4D5AE5;
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    @media only screen and (min-width: 768px) {
       margin: 0;
        }
    }


.telegramm-btn-icon {
    margin-left: 16px;
}

/* mobil-modal*/


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



.modal {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    flex-direction: column;
    width: 288px;
    min-height:584px;
    margin: auto;
    background: #fcfcfc;
    border-radius: 4px;
    align-items: center;
    padding: 72px 24px 24px 24px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}
    

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;
    border: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;    
}

.modal-close-btn-ic {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-contacts-text {
    color: #2E2F42;
    text-align: center;  
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.cont-form-field-wrapper {
    margin-bottom: 16px;
}
.cont-form-field-wrapper {
    margin-bottom: 8px;
}

.cont-form-field-label {
    display: block;
    margin-bottom: 4px;
    color:  #8E8F99;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

}

.review-form-input-wrapper {
    position: relative;
 }

.comment-form-field-wrapper {
    margin-bottom: 16px;
}

.review-form-imput-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.cont-form-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 11px 0 11px 38px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
   }

.cont-form-input:focus {
    border-color: #4D5AE5;
}

.cont-form-input:focus + .review-form-imput-icon {
    fill: #4d5ae5;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    resize:none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;

    color: rgba(46, 47, 66, 0.4);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-comment::placeholder {
    color: #8E8F99;
}

.review-form-comment:focus {
    border-color: #4d5ae5;
}

.cont-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.rev-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
}

.rev-form-checkbox:checked + 
.rev-form-checkbox-label > 
.review-form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.rev-form-checkbox:focus + 
.rev-form-checkbox-label > 
.review-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-own-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}

.rev-form-checkbox:checked + .rev-form-checkbox-label .review-form-own-checkbox-icon {
    opacity: 1;
}

.link-pr-pol {
    color: #4d5ae5;
}

.review-form-submit-btn {
    min-width: 169px;
    height: 56px;
    display: block;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color:  #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}





/*=========-mobil menu==========*/


@media screen and (max-width: 767px) {
    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999999;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transform: translateX(100%);
        transition: transform 250ms linear;
        padding-top: 72px;
    }
}

.mobile-menu-wrapper.is-open {
    transform:translateX(0);
}

@media screen and (min-width: 768px) {
    .mobile-menu-wrapper {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-menu-wrapper{
        display: none;
    }
}
 



@media screen and (max-width: 767px) {
    .mobile-menu-container {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }
}


@media screen and (max-width: 767px) {
    .mobile-menu-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 0;
        background-color: transparent;
        border: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (max-width: 767px) {
    .mobile-menu-navigation {
        margin-bottom: auto;
    }
}

@media screen and (max-width: 767px) {
.mobile-menu {
    margin-bottom: 168px;
}
}


@media screen and (max-width: 767px) {
    .mobile-menu-item {
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 767px) {
    .mobile-menu-link {
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .mobile-menu-link:hover,
        .mobile-menu-link:focus {
            color: #404bbf;
        }
        }
    

@media screen and (max-width: 767px) {
    .color-studio {
        color: #404BBF;
    }
}

@media screen and (max-width: 767px) {
    .mobile-address-list {
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 767px) {
    .mobile-address-list-item {
        display: block;
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
.menu-mob-link {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    gap: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-mob-link:hover,
    .menu-mob-link:focus {
        color: #404bbf;
    }
}

@media screen and (max-width: 767px) {
    .color-tel {
        color: #4D5AE5;
    }
}



@media screen and (max-width: 767px) {
    .mobile-social-container {
         margin:0 24px 0 16px;
    }
}


@media screen and (max-width: 767px) {
   .mob-social-list {
        display: flex;
        gap: 40px;
        justify-content: center;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (max-width: 767px) {
    .mob-social-list-item {
        width: 40px;
        height: 40px;
    }
}


.link-social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    column-gap: 40px;
}

.link-social:hover,
.link-social:focus {
    background-color: #31d0aa;
}
.footer-hover {
    background-color: #4d5ae5;
}


.mob-social-list-icon {
    fill: #f4f4fd;
}



@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/hero-bg-mob@2x.jpg);
    }
}


@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/Dark-bg-tabl-2@.jpg);
    }
}


@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/people-office_dt@2x.jpg);
    }
}